$color-primary: #008080;

$color-text-default: #143a56;
$color-bg-blue: #143a56;
$color-bg-light: #efefef;
$color-bg-app: #ffffff;

$color-white: #ffffff;
$color-grey: #606060;
$color-light-grey: #cccccc;