@import './flex.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-family: 'roboto';
  color: $color-text-default;
}

.page-container {
  margin-top: $app-header-height;
}

.page-section {
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow-x: auto;
  &.--allow-overflow {
    overflow: initial !important;
  }
  .section-content {
    width: 100%;
    max-width: $page-max-width;
    margin: auto;
    position: relative;
    padding: $section-padding-default;
    &.--full-width {
      max-width: 100%;
    }
  }
}
