*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

:root {
  --overflow-default: initial !important;
  --fullwidth-default: 100%;
  --padding-default: 32px;
  --margin-default: auto;
}